.header{
    display: grid;
    grid-template-columns: 300px auto 200px;
    align-items: center;
    padding: 5px 20px;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    background-color: #f7f9fc;
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-logo span{
    font-size: 22px;
    margin-left: 5px;
    color: gray;
}
.header-logo img{
    width: 40px;
}

.header-search{
    display: flex;
    align-items: center;
    width: 700px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 12px;
    color: rgb(85, 85, 85);
}

.header-search input{
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
}

.header-icons{
    display: flex;
    align-items: center;
}

.header-icons span{
    display: flex;
    align-items: center;
    color: rgb(85, 85, 85);
    margin-left: 10px;
}

.MuiSvgIcon-root{
    margin: 0px 10px;
}